<ons-splitter>
	<ons-splitter-side id="menu" side="left" width="220px" collapse swipeable>
		<ons-page>
			<ons-list>
			<ons-list-header>
			User
			</ons-list-header>
				<ons-list-item ng-click="profile()" tappable>
					<p style="color: black; font-family: futura;">{{currentUser.username}}</p>
				</ons-list-item>
			</ons-list>
			<ons-list>
				<ons-list-header>
					Pages
				</ons-list-header>
				<ons-list-item ng-click="home()" tappable>
					<p style="color: black; font-family: futura;">Home</p>
				</ons-list-item>
				<ons-list-item ng-click="profile()" tappable>
					<p style="color: black; font-family: futura;">Your stories</p>
				</ons-list-item>
				<ons-list-item ng-click="search()" tappable>
					<p style="color: black; font-family: futura;">Search</p>
				</ons-list-item>
				<ons-list-item ng-click="userSettings()" tappable>
					<p style="color: black; font-family: futura;">Settings</p>
				</ons-list-item>
				<ons-list-item ng-click="storyFeed()" tappable>
					<p style="color: black; font-family: futura;">Recent stories</p>
				</ons-list-item>
				<ons-list-item ng-click="friendsList()" tappable>
					<p style="color: black; font-family: futura;">Friends list</p>
				</ons-list-item>
				<ons-list-item ng-click="aboutUs()" tappable>
					<p style="color: black; font-family: futura;">About us</p>
				</ons-list-item>
			</ons-list>
			<ons-list>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</ons-list>
		</ons-page>
	</ons-splitter-side>
	<ons-splitter-content id="content" page="aboutUs.html"></ons-splitter-content>
</ons-splitter>

<ons-template id="aboutUs.html">
	<ons-page>
		<ons-toolbar modifier="transparent">
			<div class="left">
				<ons-toolbar-button ng-click="splitter()">
					<ons-icon style="color:white;" icon="md-menu"></ons-icon>
				</ons-toolbar-button>
			</div>
			<div class="center" ui-sref="home" style="color: white; font-family: futura;">Map Story</div>
			<div class="right" style="color: white;">
				<ons-toolbar-button>
					<a href="" style="color:white; font-family: futura;" ng-click="logOut()">Log out</a>
				</ons-toolbar-button>
			</div>
		</ons-toolbar>
		
		<ons-list style="background-color: rgba(255, 255, 255, 0.7);" >
			<ons-list-header>About us</ons-list-header>
			<ons-list-item style="font-family: futura;">
				<p style="color: black;">This application was made by Patrik Odqvist, Dui Ardal and Gustav Frisk Arfvidsson.</p>
			</ons-list-item>
			<ons-list-item style="font-family: futura;">
				<p style="color: black;">
				Welcome to the most innovative story-telling game in the world! In this game, you can make original, innovatice stories with friends and users around you.
				</br>
				</br>
				To start, simply log in and you will be redirected to the home page. This page consists of a map where you yourself is centered. You can now see different games that are ongoing. They look like blue circles on the map. To join in on a game, you simply tap the red marken in the middle of the blue circle. You will have to know the hosts password to join.
				</br>
				</br>
				If you want to create your own game, simply press the button below the map and fill out the details. For example, you can choose the amount of words in your story, number of people that can join and how big the range of people nearby can join is going to be.
				</br>
				</br>
				If you are interested in looking at your previous stories from your former games, simply press the burger-menu in the top-left corner and press "Profile". You can also search for other users and watch their stories from the same burger-menu in the "Search"-tab.
				</br>
				</br>
				We hope you will enjoy this game and make some funky stories!
				</br>
				</br>
				Best regards,</br>
				Patrik, Dui and Gustav.
				</br>
				</br>
				P.S. Don't forget to listen for that cozy, crackling sound of fire (in the desktop version)...
				</p>
			</ons-list-item>
		
		
		</ons-list>
		</br>
		</br>
		</br>
		</br>
	</ons-page>
</ons-template>