<ons-page>
	</br>
	</br>
	</br>
	</br>
	</br>
	<div style="color:white; text-align: center;"><h2 style="font-family: futura;" ui-sref="login">Map Story</h2></div>
</br>
	<ons-list style="background-color: rgba(255,255,255, 0.8);" modifier="noborder">
		<ons-list-item>
			<div class="left">
				<ons-input modifier="transparent" id="username" ng-model="username" placeholder="Username" style="color:black;" ></ons-input>
			</div>
		</ons-list-item>
		<ons-list-item>
			<div class="left">
				<ons-input ng-model="email" id="email" placeholder="Email"></ons-input>
			</div>
		</ons-list-item>
		<ons-list-item>
			<div class="left">
				<ons-input id="password" ng-model="passowrd" placeholder="Password"></ons-input>
			</div>
		</ons-list-item>
	</ons-list>
	</br>
	<ons-button class="button--large--cta" ng-click="registerNewUser()" style="width: 50%; margin: 0 auto; background-color: rgba(30,144,200, 0.7); font-family: futura;">Enter</ons-button>
</ons-page>

