<ons-splitter>
	<ons-splitter-side id="menu" side="left" width="220px" collapse swipeable>
		<ons-page>
			<ons-list>
			<ons-list-header>
			User
			</ons-list-header>
				<ons-list-item ng-click="profile()" tappable>
					<p style="color: black; font-family: futura;">{{currentUser.username}}</p>
				</ons-list-item>
			</ons-list>
			<ons-list>
				<ons-list-header>
					Pages
				</ons-list-header>
				<ons-list-item ng-click="home()" tappable>
					<p style="color: black; font-family: futura;">Home</p>
				</ons-list-item>
				<ons-list-item ng-click="profile()" tappable>
					<p style="color: black; font-family: futura;">Your stories</p>
				</ons-list-item>
				<ons-list-item ng-click="search()" tappable>
					<p style="color: black; font-family: futura;">Search</p>
				</ons-list-item>
				<ons-list-item ng-click="userSettings()" tappable>
					<p style="color: black; font-family: futura;">Settings</p>
				</ons-list-item>
				<ons-list-item ng-click="storyFeed()" tappable>
					<p style="color: black; font-family: futura;">Recent stories</p>
				</ons-list-item>
				<ons-list-item ng-click="friendsList()" tappable>
					<p style="color: black; font-family: futura;">Friends list</p>
				</ons-list-item>
				<ons-list-item ng-click="aboutUs()" tappable>
					<p style="color: black; font-family: futura;">About us</p>
				</ons-list-item>
			</ons-list>
			<ons-list>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</ons-list>
		</ons-page>
	</ons-splitter-side>
	<ons-splitter-content id="content" page="profile.html"></ons-splitter-content>
</ons-splitter>

<ons-template id="profile.html">
	<ons-page>
		<ons-toolbar modifier="transparent">
			<div class="left">
				<ons-toolbar-button ng-click="splitter()">
					<ons-icon style="color:white;" icon="md-menu"></ons-icon>
				</ons-toolbar-button>
			</div>
			<div class="center" ui-sref="home" style="color: white; font-family: futura;">Map Story</div>
			<div class="right" style="color: white;">
				<ons-toolbar-button>
					<a href="" style="color:white; font-family: futura;" ng-click="logOut()">Log out</a>
				</ons-toolbar-button>
			</div>
		</ons-toolbar>


		{{checkFriend()}}

		<ons-list style="background-color: rgba(255, 255, 255, 0);">
			<ons-list-item style="height: 50px; color: white; font-family: futura;">
				<h4>{{selUser.username}}</h4>
				<div class="right" ng-if="notUser()">
					<ons-button ng-if="UserCheck" ng-click="addFriend()">Add friend</ons-button>
					<ons-button ng-if="UserCheck==false" ng-click="deleteFriend()">Remove friend</ons-button>
				</div>
			</ons-list-item>
			<ons-list-item style="height: 50px; color: white; font-family: futura;">
				<div style="width: 100%; text-align: center;">
					<h4>Stories</h4>
				</div>
			</ons-list-item>
		</ons-list>
		
		<ons-list style="background-color: rgba(255, 255, 255, 0);" ng-repeat="(key, val) in selUser.stories">

			<ons-list-header style="background-color: rgba(255, 255, 255); font-family: futura;">{{val.name}}</ons-list-header>
			<ons-list-item style="color: white; font-family: futura;">
				{{val.story}}
			</ons-list-item>
			<ons-list-item style="color: white; font-family: futura;" ng-if="checkUser()">
				<ons-button class="button--large--cta" ng-click="deleteStory(selUser.id, val.id)" style="width: 50%; height: 5%; margin: 0; padding: 0; background-color: rgba(242,17,17, 0.7); font-family: futura;">Delete</ons-button>
			</ons-list-item>
		</ons-list>
		</br>
		</br>
		</br>
		</br>
	</ons-page>
</ons-template>