<ons-splitter-side id="menu" side="left" width="220px" collapse swipeable>
	<ons-page>
		<ons-list>
		<ons-list-header>
		User
		</ons-list-header>
			<ons-list-item ng-click="profile()" tappable>
				<p style="color: black; font-family: futura;">{{currentUser.username}}</p>
			</ons-list-item>
		</ons-list>
		<ons-list>
			<ons-list-header>
				Pages
			</ons-list-header>
			<ons-list-item ng-click="home()" tappable>
				<p style="color: black; font-family: futura;">Home</p>
			</ons-list-item>
			<ons-list-item ng-click="profile()" tappable>
				<p style="color: black; font-family: futura;">Profile</p>
			</ons-list-item>
			<ons-list-item ng-click="search()" tappable>
				<p style="color: black; font-family: futura;">Search</p>
			</ons-list-item>
			<ons-list-item tappable>
				<p style="color: black; font-family: futura;">Settings</p>
			</ons-list-item>
		</ons-list>
		<ons-list>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</ons-list>
	</ons-page>
</ons-splitter-side>

