 
<div class="container-fluid" style="background-color: black; color:white">
	<div class="col-xs-3">
	</div>
	<div class="col-xs-6">
		<form ng-submit="search(name)">
			<input style="color:black" type="input" ng-model="name"></input>
		</form>
	</div>
</div>
<div class="container-fluid" style="background-color: black; color:white">
	<div class="col-xs-3">
	</div>
	<div class="col-xs-6">
		<div class="row">
			{{selUser.username}}
		</div>
	</div>
</div>
<div class="container-fluid" style="background-color: black; color:white">
	<div class="col-xs-3">
	</div>
	<div class="col-xs-6">
		<div class="row">
			{{selGame.name}}
		</div>
	</div>
</div>