body {
	background: red;
	background: -webkit-linear-gradient(left, #d48cf8 , #0e8044);
	background: -o-linear-gradient(right, #d48cf8, #0e8044);
	background: -moz-linear-gradient(right, #d48cf8, #0e8044);
	background: linear-gradient(to right, #d48cf8 , #0e8044);
}

div {
	color:white;
}

#icon {
	color:white;
}


/* Top Chat */

#chatTop {
	height:10%; 
}

/*Message room*/

#messageRoom {
	height: 80%;
}

/*Bottom Chat*/

#chatBottom {
	height: 10%;
}

#messageField {
	color: black;
	border-radius: 10px; 
	border: 1px solid white; 
	outline: none; 
	padding-left: 1em;
}

